:host {
  display: block;
  .steps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    .step{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      align-content: space-around;
    }
    .step-indicator{
      border-radius: 2em;
      width: 2em;
      height: 2em;
      margin: 0 2em;
      background: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        background: cadetblue;
        &.dirty {
          background: #85ced1;
        }
      }
      &.dirty {
        background: #60dba4;
      }
      &.invalid {
        background: #cd4c4c;
      }
    }
  }
  .step-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .actions{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      align-content: center;

    }
  }
}
