<div class="steps">
  <div class="step" *ngFor="let step of steps.toArray(); index as i" [class.active]="i === currentStepIndex">
    <div class="step-indicator"
         (click)="goToStep(i)"
         [class.active]="i === currentStepIndex"
         [class.dirty]="formIsDirty(i)"
         [class.invalid]="i === currentStepIndex && formIsInvalid(i)"
    >
      {{i + 1}}
    </div>
    <h4 *ngIf="currentStepIndex !== i">{{step.label}}</h4>
    <div *ngIf="currentStepIndex === i" class="step-content">
      <h3>{{step.label}}</h3>
      <form *ngIf="currentForm else content" [formGroup]="currentForm" (ngSubmit)="nextStep()">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </form>
    </div>
  </div>
</div>

<ng-template #content>
  <ng-container [ngTemplateOutlet]="currentStep.template"></ng-container>
  <div class="actions">
    <input class="prev" type="button" *ngIf="canGoPrev()" (click)="prevStep()" [disabled]="(loading$ | async) || currentForm?.pending" value="<" />
    <input class="next" *ngIf="!isLastStep()" type="submit" [disabled]="(loading$ | async) || currentForm?.pending" value=">"/>
    <button class="next" *ngIf="isLastStep()" (click)="resetStepper()" [disabled]="(loading$ | async) || currentForm?.pending">reset</button>
  </div>
</ng-template>
