<section class="forms">
  <app-tree-progress-indicator [progress]="stepper.progress$ | async"></app-tree-progress-indicator>
  <app-stepper [forms]="forms" #stepper>
    <div *appStep="'Step 1'">
      <label>
        <h6>Quantity<span [class.error]="quantityControl.errors?.required">*</span></h6>
        <input  type="number" [formControl]="quantityControl" />
        <sub *ngIf="quantityControl.errors?.required">
          This step is required.
        </sub>
        <sub *ngIf="quantityControl.errors?.min">
          Sorry, the minimum value is {{quantityControl.errors?.min?.min}}.
        </sub>
        <sub *ngIf="quantityControl.errors?.quantityOverflow">
          Sorry, we don't have {{quantityControl.value}} Trees, the best we can do is
          <strong>{{quantityControl.errors?.maxQuantity}}</strong>.
        </sub>
      </label>
      <span class="tip">Try to go over <strong>10</strong>!</span>
    </div>
    <div *appStep="'Step 2'">
      <label>
        <h6>Name<span [class.error]="nameControl.errors?.required">*</span></h6>
        <input type="text" [formControl]="nameControl" />
        <sub *ngIf="nameControl.errors?.required">
          This step is required.
        </sub>
        <sub *ngIf="nameControl.errors?.nameAlreadyInUse">
          This name is already in use, try with another.
        </sub>
        <sub *ngIf="nameControl.errors?.minlength?.requiredLength">
          The minimum length for this field is  {{nameControl.errors?.minlength?.requiredLength}}.
        </sub>
      </label>
      <span class="tip">Try with <strong>Paperoga</strong>!</span>
    </div>
    <div *appStep="'Step 3'">
      <label>Good Job!</label>
    </div>
  </app-stepper>
</section>
