<app-stepper [forms]="forms" >
  <div *appStep="'Step 1'" [formGroup]="forms[0]">
        <label>
          <span>Quantity<span [class.error]="quantityControl.errors">*</span></span>
          <input type="number" [formControl]="quantityControl" />
          <sub *ngIf="quantityControl.errors?.required">
            This step is required.
          </sub>
          <sub *ngIf="quantityControl.errors?.min">
            Sorry, the minimum value is {{quantityControl.errors?.min?.min}}.
          </sub>
          <sub *ngIf="quantityControl.errors?.quantityOverflow">
            Sorry, we don't have {{quantityControl.value}} Trees, the best we can do is {{quantityControl.errors?.maxQuantity}}.
          </sub>
        </label>
  </div>
  <div *appStep="'Step 2'" [formGroup]="forms[1]">
      <label>
        Name:
        <input type="text" [formControl]="nameControl" />
        <sub *ngIf="nameControl.errors?.required">
          This step is required.
        </sub>
        <sub *ngIf="nameControl.errors?.nameAlreadyInUse">
          This name is already in use, try with another.
        </sub>
        <sub *ngIf="nameControl.errors?.minlength?.requiredLength">
          The minimum length for this field is  {{nameControl.errors?.minlength?.requiredLength}}.
        </sub>
      </label>
  </div>
  <div *appStep="'Step 3'">
      Are you sure?
  </div>
</app-stepper>

